.page-header
  %h1 #{@user.full_name}

%ul.unstyled
  %li
    %strong Email:
    = @user.email

= link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary'
= link_to 'Back', users_path, class: 'btn'
